.depend
.layout
obj
bin
TP Final Lab2 Veterinaria/bin/Debug/TP Final Lab2 Veterinaria.exe
TP Final Lab2 Veterinaria/TP Final Lab2 Veterinaria.depend
TP Final Lab2 Veterinaria/TP Final Lab2 Veterinaria.depend
TP Final Lab2 Veterinaria/obj/Debug/main.o
TP Final Lab2 Veterinaria/bin/Debug/TP Final Lab2 Veterinaria.exe
